# Climate Change
### Introduction

    We were assigned the Climate Change group. After a bit of discussion, 
    we picked 6 original questions with the expectation that we would need 
    to remove some of them.
    
    These are the questions that we picked:
        1. How much does forest area impact C02 emissions?
        2. How does population growth align with C02 emissions?
        3. Does C02 emissons impact mortality rate?
        4. Does renewable energy use impact freshwater withdrawals?
        5. Does population density or growth impact freshwater withdrawals?
        6. Is there a negative correlation between C02 emissions and renewable energy use.
    
    
    These are the datasets: 
        C02 Emissions (kt)
        https://data.worldbank.org/indicator/EN.ATM.CO2E.KT?view=chart
        
        Annual freshwater withdrawals (internal resources)
        https://data.worldbank.org/indicator/ER.H2O.FWTL.ZS?view=chart
        
        Mortality rate, under-5 (per 1000 live births)
        https://data.worldbank.org/indicator/SH.DYN.MORT?view=chart
    
        Renewable energy consumption (% of total final energy consumption)
        https://data.worldbank.org/indicator/EG.FEC.RNEW.ZS?view=chart
        
        Population (total) - might need to try a different version of this dataset
        https://data.worldbank.org/indicator/SP.POP.TOTL?view=chart
        
        Forest area (% of land area)
        https://data.worldbank.org/indicator/AG.LND.FRST.ZS?view=chart

### Extraction
    
    We downloaded the csv files and then unzipped them from their folders, 
    and renamed and reorganized the files.
    
    We then used pandas to import the data into dataframes. 
     - We had to skip the first 3 rows in each dataset because they were not relevant.

#### Extraction Step 1 (Understand the dataset structure)

In [25]:
import pandas as pd
import os

files = [_ for _ in os.listdir('datasets/') if ".csv" in _]

for file in files:
    df = pd.read_csv(f'datasets/{file}', skiprows = 3)
    print(f'Dataset: {file}')
    print('Columns: ' + ", ".join(df.columns))
    print('Indicators: ' + ", ".join(df['Indicator Name'].unique()))
    print('Countries: ' + str(len(df['Country Name'].unique())))
    print("")

Dataset: co2.csv
Columns: Country Name, Country Code, Indicator Name, Indicator Code, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, Unnamed: 65
Indicators: CO2 emissions (kt)
Countries: 266

Dataset: forest_area.csv
Columns: Country Name, Country Code, Indicator Name, Indicator Code, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, Unnamed: 65
Indicators: Forest area (% of land area)
Countries: 266

Dataset: freshwater.csv
Columns: Country Name, Country Code, Indicator Name, Indicator Code, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, Unnamed: 65
Indicators: Annual freshwater withdrawals, total (% of internal resources)
Countries: 266

Dataset: mortality_rate_under5.csv
Columns: Country Name, Country Code, Indicator Name, Indicator Code, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, Unnamed: 65
Indicators: Mortality rate, under-5 (per 1,000 live births)
Countries: 266

Dataset: renewable_consumption.csv
Columns: Country Name, Country Code, Indicator Name, Indicator Code, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, Unnamed: 65
Indicators: Renewable energy consumption (% of total final energy consumption)
Countries: 266

Dataset: total_population.csv
Columns: Country Name, Country Code, Indicator Name, Indicator Code, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, Unnamed: 65
Indicators: Population, total
Countries: 266

#### Extraction Step 2 (Read in the Datasets)

In [14]:
pre_path = 'datasets/'
co2_df = pd.read_csv(pre_path + files[0], skiprows = 3)
forest_area_df = pd.read_csv(pre_path + files[1], skiprows = 3)
freshwater_df = pd.read_csv(pre_path + files[2], skiprows = 3)
mortality_rate_under5_df = pd.read_csv(pre_path + files[3], skiprows = 3)
renewable_consumption_df = pd.read_csv(pre_path + files[4], skiprows = 3)
total_population_df = pd.read_csv(pre_path + files[5], skiprows = 3)

,0,1,2,3,4,5,6,7,8,9,...,256,257,258,259,260,261,262,263,264,265
Country Name,Aruba,Africa Eastern and Southern,Afghanistan,Africa Western and Central,Angola,Albania,Andorra,Arab World,United Arab Emirates,Argentina,...,Virgin Islands (U.S.),Vietnam,Vanuatu,World,Samoa,Kosovo,"Yemen, Rep.",South Africa,Zambia,Zimbabwe
Country Code,ABW,AFE,AFG,AFW,AGO,ALB,AND,ARB,ARE,ARG,...,VIR,VNM,VUT,WLD,WSM,XKX,YEM,ZAF,ZMB,ZWE
Indicator Name,CO2 emissions (kt),CO2 emissions (kt),CO2 emissions (kt),CO2 emissions (kt),CO2 emissions (kt),CO2 emissions (kt),CO2 emissions (kt),CO2 emissions (kt),CO2 emissions (kt),CO2 emissions (kt),...,CO2 emissions (kt),CO2 emissions (kt),CO2 emissions (kt),CO2 emissions (kt),CO2 emissions (kt),CO2 emissions (kt),CO2 emissions (kt),CO2 emissions (kt),CO2 emissions (kt),CO2 emissions (kt)
Indicator Code,EN.ATM.CO2E.KT,EN.ATM.CO2E.KT,EN.ATM.CO2E.KT,EN.ATM.CO2E.KT,EN.ATM.CO2E.KT,EN.ATM.CO2E.KT,EN.ATM.CO2E.KT,EN.ATM.CO2E.KT,EN.ATM.CO2E.KT,EN.ATM.CO2E.KT,...,EN.ATM.CO2E.KT,EN.ATM.CO2E.KT,EN.ATM.CO2E.KT,EN.ATM.CO2E.KT,EN.ATM.CO2E.KT,EN.ATM.CO2E.KT,EN.ATM.CO2E.KT,EN.ATM.CO2E.KT,EN.ATM.CO2E.KT,EN.ATM.CO2E.KT
1960,NaN,118545.901306,414.371,8760.463,550.05,2024.184,NaN,56173.148551,11.001,48815.104,...,NaN,5944.207,NaN,9463838.499902,14.668,NaN,58.672,97934.569,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017,NaN,601323.394691,7380.0,201900.0,30840.0,5600.0,470.0,1865421.543522,208250.0,180120.0,...,NaN,222130.0,170.0,33351608.094827,300.0,NaN,10060.0,435140.0,6990.0,10230.0
2018,NaN,600351.133333,7440.0,224380.0,27340.0,5560.0,460.0,1863603.726685,200300.0,177410.0,...,NaN,257860.0,180.0,34041045.974038,320.0,NaN,9310.0,433250.0,7740.0,12270.0
2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN